{% extends "_base.html" %}

{% block title %}Inicio - 10code Intranet{% endblock %}

{% block content %}
<div class="bg-white shadow rounded-lg p-6">
    <h1 class="text-2xl font-semibold text-gray-900">Bienvenido, {{ user.first_name }}!</h1>
    <p class="mt-2 text-sm text-gray-700">Email: {{ user.email }}</p>
    <form action="{% url 'logout' %}" method="post" class="block px-3 py-1 text-sm leading-6 text-gray-900">
        {% csrf_token %}
        <button type="submit" role="menuitem" tabindex="-1" id="user-menu-item-1">Cerrar sesión</button>
    </form>
</div>
{% endblock %}